@{
    ViewData["Title"] = "Erro 404 - Página Não Encontrada";
}

<div layout:fragment="conteudo">
    <main class="container">
        <section class="card">
            <h1 class="text-center">Ops! Página não encontrada</h1>
            <p class="text-center">A página que você está procurando não existe ou foi movida 🧐</p>
        </section>
    </main>
</div>