@{
    ViewData["Title"] = "Erro 500 - Erro Interno do Servidor";
}

<div layout:fragment="conteudo">
    <main class="container">
        <section class="card">
            <h1 class="text-center">Ops! Ocorreu um erro inesperado!</h1>
            <p class="text-center">O time de tecnologia já foi acionado para resolver o problema 😬</p>
        </section>
    </main>
</div>
