<footer class="footer">
    <div class="container">
        <span class="text-center">VollMed Card: <b>@ViewData["VollMedCard"]</b></span>
    </div>
    <div class="container">       
        <p>Projeto fictício sem fins comerciais.</p>
    </div>
</footer>