<footer class="footer">
    <div class="container">
        <img src="~/assets/logo-alura.png" alt="Logo Alura">
        <p>2024 © Desenvolvido por Alura | Projeto fictício sem fins comerciais.</p>
    </div>
</footer>
