<header class="header">
    <div class="container header-container">
        <nav class="main-nav">
            <ul>
                <li class="dropdown">
                    <a href="#">CADASTROS <i class="arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Link para a listagem de médicos -->
                            <a href="~/medicos">Médicos</a>
                        </li>

                        <li>
                            <!-- Link para a listagem de consultas -->
                            <a href="~/consultas">Consultas</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
